<div class="container">
  <h1>日記一覧</h1>
  <div class="journals">
    <% @journals.each do |journal| %>
      <div class="one_journal">
        <div class="upper_journal">
          <h3><%= journal.created_at.strftime('%-m/%d') %></h3>
          <% if journal.stamp == "fine" %>
            <img src="https://joyfuljournal-bucket.s3.ap-northeast-1.amazonaws.com/fine3.png">
          <% elsif journal.stamp == "good" %>
            <img src="https://joyfuljournal-bucket.s3.ap-northeast-1.amazonaws.com/good.png">
          <% elsif journal.stamp == "neutral" %>
            <img src="https://joyfuljournal-bucket.s3.ap-northeast-1.amazonaws.com/neutral.png">
          <% elsif journal.stamp == "unhappy" %>
            <img src="https://joyfuljournal-bucket.s3.ap-northeast-1.amazonaws.com/unhappy.png">
          <% elsif journal.stamp == "depressed" %>
            <img src="https://joyfuljournal-bucket.s3.ap-northeast-1.amazonaws.com/depressed.png">
          <% end %>
        </div>
        <p><%= journal.content %></p>
        <%= button_to '削除', journal_path(journal), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'delete-button' %>
      </div>
    <% end %>
  </div>
  <div class="character">
    <% if @character_expression == "happy" %>
      <img src="https://joyfuljournal-bucket.s3.ap-northeast-1.amazonaws.com/fine3.png" alt="Happy Character">
    <% elsif @character_expression == "neutral" %>
      <img src="https://joyfuljournal-bucket.s3.ap-northeast-1.amazonaws.com/neutral.png" alt="Neutral Character">
    <% elsif @character_expression == "sad" %>
      <img src="https://joyfuljournal-bucket.s3.ap-northeast-1.amazonaws.com/unhappy.png" alt="Sad Character">
    <% else %>
      <img src="https://joyfuljournal-bucket.s3.ap-northeast-1.amazonaws.com/good.png" alt="Normal Character">
    <% end %>
    <p><%= @character_speech %></p>
  </div>
</div>


