<div class="container">
  <h1>日記一覧</h1>
  <div class="journals">
    <% @journals.each do |journal| %>
      <div class="one_journal">
        <div class="upper_journal">
          <h3><%= journal.created_at.strftime('%-m/%d') %></h3>
          <img src=<%= "/assets/#{journal.stamp}.png" %>>
        </div>
        <p><%= journal.content %></p>
      </div>
    <% end %>
  </div>
</div>


