<div class="container">
  <div class="new_journal_wrapper">
    <%= form_tag("/journals") do %>
      <div class="upper">
        <h1>今日の日記</h1>
        <div class="field">
          <div class="radio-group">
            <input type="radio" name="stamp" value="fine" id="fine">
            <label for="fine" class="radio-label">
              <img src="/assets/fine.png" alt="Fine" class="default-img">
              <img src="/assets/fine_selected.png" alt="Fine" class="selected-img">
            </label>
          </div>

          <div class="radio-group">
            <input type="radio" name="stamp" value="good" id="good">
            <label for="good" class="radio-label">
              <img src="/assets/good.png" alt="Good" class="default-img">
              <img src="/assets/good_selected.png" alt="Good" class="selected-img">
            </label>
          </div>

          <div class="radio-group">
            <input type="radio" name="stamp" value="neutral" id="neutral">
            <label for="neutral" class="radio-label">
              <img src="/assets/neutral.png" alt="Neutral" class="default-img">
              <img src="/assets/neutral_selected.png" alt="Neutral" class="selected-img">
            </label>
          </div>

          <div class="radio-group">
            <input type="radio" name="stamp" value="unhappy" id="unhappy">
            <label for="unhappy" class="radio-label">
              <img src="/assets/unhappy.png" alt="Unhappy" class="default-img">
              <img src="/assets/unhappy_selected.png" alt="Unhappy" class="selected-img">
            </label>
          </div>

          <div class="radio-group">
            <input type="radio" name="stamp" value="depressed" id="depressed">
            <label for="depressed" class="radio-label">
              <img src="/assets/depressed.png" alt="Depressed" class="default-img">
              <img src="/assets/depressed_selected.png" alt="Depressed" class="selected-img">
            </label>
          </div>
        </div>
      </div>
      <textarea name="content" placeholder="今日の出来事を振り返りましょう！"></textarea>
      <div class="journal_post">
        <input type="submit" value="投稿する">
      </div>
    <% end %>
  </div>
</div>