<h1 class="title">JoyfulJournal</h1>
<div class="explain_documents">
  <h3>毎日の出来事を簡単に記録</h3>
  <p>Joyful Journalでは、毎日の出来事を簡単に記録することができます。シンプルな操作で、あなたの大切な思い出や感情を日記として残しましょう。</p>
  <h3>5種類のスタンプで感情を表現</h3>
  <p>その日の満足度を5種類のスタンプで簡単に表現できます。日記を書くたびにスタンプを押すことで、日々の感情の変化をグラフで視覚化。自己理解を深め、毎日の生活をより豊かにします。</p>
  <h3>安心して使えるシンプルなデザイン</h3>
  <p>使いやすさを重視したシンプルなデザインで、誰でも直感的に操作できます。忙しい日々の中でも、数分で簡単に日記をつけることができます。</p>
  <h3>毎日の小さな幸せを見つけよう</h3>
  <p>Joyful Journalを使って、毎日の小さな幸せを見つけ、記録し、振り返りましょう。あなたの日々の気持ちを大切にすることで、より豊かな生活を実現します。</p>
</div>
<div class="top_signs">
  <div class="top_sign top_session">
    <h2>登録済みの方はこちら</h2>
    <a href="/users/sign_in" class="button l">ログイン</a>
  </div>
  <div class="top_sign top_registration">
    <h2>初めての方はこちら</h2>
    <a href="/users/sign_up" class="button l">新規登録</a>
  </div>
</div>