<h1>JoyfulJournal</h1>
<% if current_user.present? %>
  <a href="/journals">日記一覧</a>
  <a href="/journals/new">日記投稿</a>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete,data: { turbo_method: :delete } %>
<% else %>
  <a href="/users/sign_in">ログイン</a>
  <a href="/users/sign_up">新規登録</a>
<% end %>