/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: -apple-system, "Roboto", "Noto Sans", "Noto Sans JP", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, Arial, Helvetica, sans-serif;
  color: #444444;
  /* background-color:; */
}

.container {
  width: 70%;
  margin: auto;
}

h1 {
  font-size: 52px;
  margin-top: 80px;
}

.button {
  padding: 16px 24px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.link {
  color: #444444;
  text-decoration: none;
}

.stamp_img {
  height: 80px;
}

/* header ================================ */
header {
  background-color: #CC3333;
  padding: 18px 0;
}

/* character ================================ */
.character {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
}

.character img {
  width: 100px; /* キャラクター画像のサイズ */
  height: auto;
  margin-left: 10px;
}

.character .speech-bubble {
  position: absolute;
  top: 50%;
  left: -170px; /* 吹き出しの位置調整 */
  transform: translateY(-50%);
  background: #FFCCCC; /* 吹き出しの背景色を変更 */
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.character .speech-bubble::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%; /* 吹き出しの先端の位置調整 */
  transform: translateY(-50%);
  border-width: 10px 0 10px 20px;
  border-style: solid;
  border-color: transparent transparent transparent #FFCCCC; /* 吹き出しの背景色に合わせる */
}